<mat-sidenav-container class="example-container" style="border: solid; border-color: green;"  >
    <mat-sidenav mode="side" opened style="border: solid; border-color: red;">
        <mat-nav-list>
            <mat-list-item [activated]="true">
                <a matListItemTitle href="#" style="color: red;">TOGO linklndfkldfnkdl</a>
                <button mat-icon-button matListItemMeta>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item >
                <a matListItemTitle href="#" style="color: red;">linklndfkldfnkdl</a>
                <button mat-icon-button matListItemMeta>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>